 :root {
    
    --accent-color: #2196f3;
    --main-text-color: #757575;
    --main-sections-color: #ffffff;
    --title-text-color: #212121;
    --foothero-back-color: #2F303A;
    --background-main-color: #e5e5e5;
    --back-teamsection-color: #F5F4FA;
    --button-hero-back-color: #188CE8;
    
 }
 
 /* ============================== ЗАГАЛЬНІ ============================== */

body {

    font-family: "roboto", sans-serif;
    letter-spacing: 0.03em;

    background-color: var(--background-main-color);
}

    .list {
        padding: 0;
        margin: 0;
        list-style: none;
        }
    .noline {text-decoration: none;}

    ul, ol {margin: 0; padding: 0;}
    p, h1, h2, h3, h4, h5, h6 {margin: 0;}    

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

        .container {
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;

            /* outline: 2px solid red; */
        }
        .section {
            padding-top: 74px;
            padding-bottom: 74px;
        }
 
 /* ============================== ГОЛОВА ============================== */
    .header {

        letter-spacing: 0.02em;

        background-color: #FFFFFF;
    }
    .header-container {
        display: flex;
        align-items: center;
    }

/* ---------- логотип ---------- */
    .logo {
        font-family: "raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    
        color: #ffffff;
        }
    
        .logo-web { color: var(--accent-color);       }
        .logo-studio {   color: #000000;        }
    
        .logo:hover,
        .logo:focus { color: var(--accent-color);   }
    
        .logo-studio:hover,
        .logo-studio:focus {color: var(--accent-color); }


/* ---------- навігація сайту ---------- */
.navsite {margin-left: 90px;}
    .navsite-list {
        display: flex;
    }
    .navsite-item:not( :last-child) {margin-right: 50px;}

    .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;

        color: var(--title-text-color);
        }
        .link:hover,
        .link:focus {color: var(--accent-color);}
        .link.current {color: var(--accent-color);}
    
    .contacts-list {
        display: flex;
        margin-left: auto;
    }
    .contacts {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;

        color: var(--main-text-color);
        }
        .contacts[href^="mail"] {margin-right: 50px;}
        .contacts:hover, 
        .contacts:focus {
        color: var(--accent-color);
        }
/* ============================== МЕЙН ============================== */
/* ------------------------------ ГЕРОЙ ------------------------------ */
    .hero {
        
        color: #FFFFFF;
        background-color: var(--foothero-back-color);
        }

        .hero-container {
            padding-top: 200px;
            padding-bottom: 200px;
            text-align: center;
        }

        .hero-title {
            margin-bottom: 30px;
     
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-transform: uppercase;

            letter-spacing: 0.06em;

            width: 77%;
            max-width: 696px;
/*             
            background-color: tomato; */
            }

        .btn {
            cursor: pointer;

            font-family: 'Roboto';
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;

            text-align: center;
            letter-spacing: 0.06em;

            background-color: var(--accent-color);
            color: #ffffff;
            }
            .btn:hover, .btn:focus {
            background-color: var(--button-hero-back-color);
            }

/* ------------------------------ особливості ------------------------------ */
    .features {
        background-color: var(--main-sections-color);
        
    }
        .features-container {
            padding-top: 94px;
            padding-bottom: 94px;

            background-color: var(--main-sections-color);
            outline: 2px solid red;
        }

        .features-list {display: flex;}
        .features-list-item {width: 270px;}
        .features-list-item:not( :last-child) {margin-right: 30px;}

        .features-list-title {
            margin-bottom: 10px;
            
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;

            color: var(--title-text-color);
            }
        .features-list-p {

            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;

            color: var(--main-text-color);
            }

/* ------------------------------ чим займаємося ------------------------------ */
.ourworks {
    background-color: var(--main-sections-color);
    }
    .ourworks-container {padding-bottom: 94px;}

    .ourworks-title {
        margin-bottom: 50px;
        
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;

        color: var(--title-text-color);
    }
    .ourworks-list {display: flex;}
    .ourworks-list-item:not( :last-child) {margin-right: 30px;}

    .ourworks-img {display: inline;}
/* ----------------------------- наша команда ------------------------------ */
.team {
    background-color: var(--back-teamsection-color);
}
    .team-title {

        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
            text-align: center;

        color: var(--title-text-color);
    }
    .team-container {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .team-list {display: flex;}

    .team-list-item:not( :last-child) {margin-right: 30px;}
    .team-list-card {
        width: 270px;
        height: 368px;

        background-color: #ffffff;
    }
        .team-list-img {margin-bottom: 30px;}

        .team-card-title {
            margin-bottom: 10px;
            
            font-weight: 500;
            font-size: 16px;
            line-height: 1.18;
            text-align: center;

            color: var(--title-text-color);
        }
        .team-card-text {
            margin-bottom: 0;

            font-weight: 400;
            font-size: 16px;
            line-height: 1.18;
            text-align: center;

            color: var(--main-text-color);
        }

/* ============================== НОГИ ========================= */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--foothero-back-color);
}

    .address {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        
        color: #ffffff;
    }

        .contacts-down {

        color: rgb(255,255,255,60%);}
        .contacts-down:hover, .contacts-down:focus {color: var(--accent-color);}

/* ============================================================= */
/* ========================= ПОРТФОЛІО ========================= */

/* кнопки */
    .btn-port {
        cursor: pointer;

        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        
        text-align: center;
        letter-spacing: 0.03em;

        background-color: var(--back-teambutton-color);
        color: var(--title-text-color);
  }

    .btn-port:hover,
    .btn-port:focus {
        background-color: var(--accent-color);
        color: #ffffff;
  }
/* секції */
    .port-list-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;

        color: var(--title-text-color);
    }
    .port-list-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;

        color: var(--main-text-color);
    }